.project-card {
    background: #130f2a;
    border-radius: 0.65rem;
    border: 2px solid #6751b9;
    padding: 1.5rem;
    margin: 0 1rem;
}

.project-card h5 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
    margin-top: -2rem;
}

.project-duration {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    background: rgba(103, 81, 185, 0.5);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1rem;
}

.project-card ul li {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
    
}

/*colored bullets. Can also be done using li::marker { color: }*/
.project-card ul li::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #6751b9;
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

@media (max-width: 769px) {

    .project-card {
        margin: 0;
    }

    .project-card h6 {
        font-size: 0.95rem;
    }

    .project-card ul li {
        font-size: 0.9rem;
    }
}